# path/misc
CT_LOCAL_TARBALLS_DIR="/home/dponyatov/gz"
CT_REMOVE_DOCS=y
CT_INSTALL_LICENSES=n
DOWNLOAD_AGENT_CURL=y
CT_ONLY_DOWNLOAD=y
CT_PARALLEL_JOBS=0
CT_EXTRA_CFLAGS_FOR_HOST="-march=native"

# target: arm-none-eabi CortexM thumb-only
CT_ARCH_ARM=y
CT_ARCH_ARM_MODE_THUMB=y
CT_ARCH_ARM_INTERWORKING=n
CT_ARCH_ARM_EABI=y
CT_ARCH_USE_MMU=n
ARCH_LE=y
ARCH_32=y

# options
CT_TOOLCHAIN_ENABLE_NLS=n

# target os
CT_KERNEL_BARE_METAL=y

# binutils
CT_ARCH_BINFMT_ELF=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_PLUGINS=y

# libc
CT_LIBC_NEWLIB=y
THREADS_NONE=y

# gcc
CT_CC_GCC=y
CT_CC_GCC_USE_GRAPHITE=y
CT_CC_GCC_USE_LTO=y
# CT_CC_LANG_CXX=y
CT_CC_GCC_LIBSTDCXX_VERBOSE=n

# gdb
CT_DEBUG_GDB=y
CT_GDB_CROSS=y
CT_GDB_CROSS_PYTHON=n

# libs
# CT_COMP_LIBS_NEWLIB_NANO=y
